<!DOCTYPE html>
<html lang="en">

<head>
    <%-include("partials/head.ejs")%>
</head>

<body>
    <a href="/" class="btn btn-secondary m-2">Back</a>

    <h1 class="text-center mb-4">Songs</h1>

    <div class="container">
        <table class="table table-striped table-bordered table-hover align-middle text-center">
            <thead class="table-dark">
                <tr>
                    <th>Song</th>
                    <th>Artist(s)</th>
                    <th>Album</th>
                    <th>Spotify</th>
                </tr>
            </thead>

            <tbody>
                <% for (let song of songs) { %>
                    <tr>
                        <td class="fw-semibold">
                            <%= song.name %>
                        </td>

                        <td>
                            <%= song.artists.map(a=> a.name).join(", ") %>
                        </td>

                        <td>
                            <%= song.album.name %>
                        </td>

                        <td>
                            <a href="<%= song.external_urls.spotify %>" class="btn btn-success btn-sm" target="_blank">
                                Link
                            </a>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
    </div>
</body>

</html>